<html>
    <head>
        <title>Authorization Server</title>
        <link rel="stylesheet" href="/public/style.css"/>
        </head>
    <body>
        <h1>Authorization Server.  Logged in as {{ user.username }}</h1>

        <form method="POST" action="logout">
            <button type="submit">Logout</button>
        </form>

    </body>
</html>
