<html>
    <head>
        <title>Update User</title>
        <link rel="stylesheet" href="/public/style.css"/>
    </head>
    <body>
        <h1>Update User</h1>
        {% if message %}
            <p class="success">{{ message }}</p>
            <p><a href="/admin/updateuser/{{ user.id }}">Back</a></p>
        {% else %}
            {% if errorMessage %}
                <p class="error">
                    {{ errorMessage }}
                </p>
            {% endif %}
            <form method="POST">
                <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
                <table>
                    <tr>
                        <td><label>User ID</label></td>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <td><label for="username">Username</label></td>
                        <td><input type="text" name="username" value="{{ username or user.username }}"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>************ &nbsp;<a href="/admin/changepassword/{{ user.id }}">Change...</a></td>
                    </tr>
                    <tr>
                        <td><label for="user_email">Email</label></td>
                        <td><input type="email" name="user_email" value="{{ user_email or user.email }}"></td>
                    </tr>
                    <tr>
                        <td><label for="user_phone">Phone (prefix with <tt>+</tt>)</label></td>
                        <td><input type="text" name="user_phone" value="{{ user_phone or user.phone }}"></td>
                    </tr>
                <p>
                    <label for="state">Status</label><br>
                    <input type="radio" id="state_active", name="state" value="active" checked> <label for="state_active">Active</label>
                    <input type="radio" id="state_factor2ResetNeeded", name="state" value="factor2ResetNeeded"> <label for="state_factor2ResetNeeded">Factor 2 Reset Needed</label>
                    <input type="radio" id="state_passwordResetNeeded", name="state" value="passwordResetNeeded"> <label for="state_passwordResetNeeded">Password Reset Needed</label>
                    <input type="radio" id="state_passwordChangeNeeded", name="state" value="passwordChangeNeeded"> <label for="state_passwordChangeNeeded">Password Change Needed</label>
                    <input type="radio" id="state_inactive", name="state" value="inactive"> <label for="state_state_inactive">Inactive</label>
                </p>
                {% if allowedFactor2|length > 1 %}
                <p>
                    <label for="factor2">Two Factor Authentication</label><br>
                    {% for item in allowedFactor2 %}
                            <input type="radio" id="factor2_{{item.name}}", name="factor2" value="{{ item.name }}" {% if (item.name == user.factor2 or (item.name == "none" and user.factor2 == "")) %}checked{% endif %}> <label for="factor2_{{item.name}}">{{ item.friendlyName }}</label>
                    {% endfor %}
                </p>
                {% endif %}
                </table>
                <button type="submit">Update</button>
            </form>

            {% if enableOAuthClientManagement %}
                <p><a href="/admin/selectclient?userId={{ user.id }}">Manage clients...</a></p>
            {% endif %}
        {% endif %}

        <p><a href="/admin/">Admin Home</a></p>
    </body>
</html>