<html>
    <head>
        <title>Email Verified</title>
        <link rel="stylesheet" href="/public/style.css"/>
        </head>
    <body>
        <p style="text-align: center; margin-top: 10ex">
            Thank you for registering your email
        </p>
        <p style="text-align: center; margin-top: 2ex">
            <a href="/">Home</a>
        </p>
    </body>
</html>