<html>
    <head>
        <title>Email Verified</title>
        <link rel="stylesheet" href="/public/style.css"/>
        </head>
    <body>
        <p style="text-align: center; margin-top: 10ex">
            {% if user.oldEmail %}
                 Your email has been updated
            {% else %}
               Thank you for validating your email
            {% endif %}
        </p>
        <p style="text-align: center; margin-top: 2ex">
            <a href="/">Home</a>
        </p>
    </body>
</html>