<html>
    <head>
        <title>Error</title>
        <link rel="stylesheet" href="/public/style.css"/>
        </head>
    <body>
        <h1>There has been an error</h1>
        <p class="error">
        {% if (code == "UsernameOrPasswordInvalid") %} <!-- you can handle specific errors like this -->
            Username or password is incorrect.  Please check your input
        {% else %}
            {{ error }}
        {% endif %}
        </p>
    </body>
</html>
