<html>
    <head>
        <title>Protected Page</title>
        <link rel="stylesheet" href="/public/style.css"/>
        </head>
    <body>
        <h1>Protected area</h1>

        <p>Only visible to logged-in users.</p>
        <h2>Welcome {{ user.username }}</h2>

        <p><a href="/changepassword">Change password</a></p>
        <p><a href="/">Home</a></p>
    </body>
</html>