<html>
    <head>
        <title>Create an account</title>
        <link rel="stylesheet" href="/public/style.css"/>
    </head>
    <body>
        <h1>Create An Account</h1>
        {% if message %}
            <p class="success">{{ message }}</p>
        {% else %}
            {% if error %}
                <p class="error">
                {% if errorCodeName == "PasswordFormat" %}
                    Password must be at leat 8 characters, contain at least one lowercase letter, one
                    uppercase letter and one digit.
                {% elif errorCodeName == "PasswordMatch" %}
                    Passwords do not match
                {% elif errorCodeName == "UserExists" %}
                    Username or email already exists
                {% else %}
                    {{ error }}
                {% endif %}
                </p>
            {% endif %}
            <form method="POST" action="/signup">
                <input type="hidden" name="next" value="{{ next }}"/>
                <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
                <p>
                    <label for="username">Username</label><br>
                    <input type="text" name="username" size="20" value="{{ username }}" />
                </p>
                <p>
                    <label for="password">Password</label><br>
                    <input type="password" name="password" size="20" />
                </p>
                <p>
                    <label for="repeat_password">Repeat Password</label><br>
                    <input type="password" name="repeat_password" size="20" />
                </p>
                <p>
                    <label for="user_email">Email</label><br>
                    <input type="email" name="user_email" size="20" value="{{ user_email }}"/>
                </p>
                {% if allowedFactor2|length > 1 %}
                    <h3>Two Factor Authentication</h3>
                    {% for item in allowedFactor2 %}
                            <p>
                                <input type="radio" id="factor2_{{item.name}}", name="factor2" value="{{ item.name }}" {% if loop.first %}checked{% endif %}> <label for="factor2_{{item.name}}">{{ item.friendlyName }}</label>
                            </p>
                    {% endfor %}
                {% endif %}
                <p><button type="submit">Sign Up</button></p>
            </form>
        {% endif %}
    </body>
</html>