<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css"/>
    <title>Sign Up - Set up 2FA</title>
</head>
<body>
    <h1>Sign Up - Set 2FA</h1>
    <form action="/signuptotp" method="POST">
        <ol>
            <li>Install Google Authenticator on your phone from the App Store or Play Store</li>
            <li>Scan the QR Code in the Authenticator app</li>
            <li>Enter the code that you see in the app in the text field below and click Submit.</li>
        </ol>
        
        <p><img src="{{ qr }}"/></p>

        <p>
            <label for="code">2FA Code</label>
            <input type="hidden" name="next" value="{{ next }}">
            <input type="text" name="code">
        </p>

        <p><button type="submit">Submit</button></p>
    </form>
</body>
</html>
