<html>
    <head>
        <title>Client: Authorization Code Flow</title>
        <link rel="stylesheet" href="/public/style.css"/>

        <script>
            function authorize() {
                window.location.href = '/authzcodeflow?scope=read+write';
            }
            function callResource() {
                fetch("/resource")
                .then(function(response) {return response.json()}).then(function(response) {
                    document.getElementById("result").innerHTML = "<pre>"+JSON.stringify(response)+"</pre>"
                })
                .catch(function(error) {
                    document.getElementById("result").text = error;
                })
            }
        </script>

        </head>
    <body>
        <h1>Client: Authorization Code Flow</h1>
        <p>Logged in as {{ user.username }}</p>

        <p><button onClick="authorize()">Authorize</button></p>

        <p><button onClick="callResource()">Call Resource</button></p>
        <p id="result">Result will be here</p>

        <p><a href="/">Home</a></p>

    </body>
</html>
