<html>
    <head>
        <title>Client</title>
        <link rel="stylesheet" href="/public/style.css"/>

        <script>
            function fetchIdToken(csrfToken) {
                fetch("/id_token", {
                    method: "POST",
                    headers: {
                        "X-CROSSAUTH-CSRF": csrfToken,
                    }
                })
                .then(function(response) {
                    if (response.status == 200) {
                        return response.json();
                    }
                    if (response.status == 204) {
                        throw new Error("There is no ID token")
                    }
                    throw new Error("Couldn't fetch token")       
                })
                .then(function(response) {
                    document.getElementById("idtoken").innerHTML = "<pre>"+JSON.stringify(response, null, '\t')+"</pre>"
                })
                .catch(function(error) {
                    document.getElementById("idtoken").innerHTML = error;
                })
            }
            function idtoken() {
                fetch("/api/getcsrftoken", {})
                .then(function(response) {return response.json()}).then(function(response) {
                    if (response.ok) {
                        fetchIdToken(response.csrfToken);
                    }
                    throw new Error("COuldn't fetch CSRF token")
                })
                .catch(function(error) {
                    document.getElementById("idtoken").innerHTML = error;
                })
            }
        </script>
    </head>
    <body>
        <h1>Authorization</h1>

        <p>Authorization was successful</p>

        <p><button onclick="idtoken()">ID Token</button></p>
        <p id="idtoken"></p>

        <p><a href="/">Home</a></p>
    </body>
</html>
