<html>
    <head>
        <title>Client</title>
        <link rel="stylesheet" href="/public/style.css"/>
        </head>
    <body>
        <h1>Client</h1>
        <p>Logged in as {{ user.username or "nobody" }}</p>

        <p><a href="authzcodeex">Authorization code flow</a></p>
        <p><a href="clientcredentialsex">Client credentials flow</a></p>

	{% if user %}
       	    <form method="POST" action="logout">
                <button type="submit">Logout</button>
            </form>
        {% endif %}

    </body>
</html>
