<html>
    <head>
        <title>Change Two-Factor Authorization</title>
        <link rel="stylesheet" href="/public/style.css"/>
    </head>
    <body>
        <h2>Change Two-Factor Authentication</h2>
        {% if required %}
         <p>You are required to change your two-factor authentication</p>
        {% endif %}
        {% if message %}
            <p class="success">{{ message}}</p>
            <p><button onclick="window.location.href='{{next or '/'}}'">OK</button></p>
        {% else %}
            {% if errorMessages %}
            <p class="error">{{ errorMessages }}</p>
            {% endif %}
            <form method="POST" action="changefactor2">
                <input type="hidden" name="csrfToken" value="{{csrfToken}}"/>
                <input type="hidden" name="next" value="{{next or '/'}}"/>
                <input type="hidden" name="required" value="{{ required }}"/>
                {% if allowedFactor2|length > 1 %}
                    {% for item in allowedFactor2 %}
                            <p>
                                <input type="radio" id="factor2_{{item.name}}", name="factor2" value="{{ item.name }}" {% if factor2 == item.name or (item.name == "none" and not factor2)%}checked{% endif %}> <label for="factor2_{{item.name}}">{{ item.friendlyName }}</label>
                                {% if factor2 == item.name and item.hasSecrets %}
                                    &nbsp;<a href="configurefactor2?next={{next or '/'}}">Reconfigure...</a>
                                {% endif %}
                            </p>
                    {% endfor %}
                {% else %}
                <p>You may not change your two-factor authentication type</p>
                {% endif %}
                <p><button type="submit">Update</button></p>
            </form>
            {%endif %}
    </body>
</html>
