<html>
    <head>
        <title>Change Your Password</title>
        <link rel="stylesheet" href="/public/style.css"/>
    </head>
    <body>
        <h1>Change Your Password</h1>
        {% if message %}
            <p class="success">{{ message }}</p>
            <p><a href="/">Home</a></p>
        {% else %}
            {% if errorMessage %}
                <p class="error">
                {% if errorCodeName == "PasswordFormat" %}
                    <ul class="error">
                    {% for e in errors %}
                        <li>{{e}}</li>
                    {% endfor %}
                    </ul>
                {% elif errorCodeName == "PasswordMatch" %}
                    Passwords do not match.
                {% elif errorCodeName == "InvalidKey" %}
                    Form submission error.  Make sure you have cookies enabled and
                    <a href="/changepassword">try again</a>
                {% else %}
                    {{ errorMessage }}
                {% endif %}
            {% endif %}
            <form method="POST" action="changepassword">
                <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
                <input type="hidden" name="next" value="{{ next }}"/>
                <input type="hidden" name="required" value="{{ required }}"/>
                <p>
                    <label for="old_password">Old Password</label><br>
                    <input type="password" name="old_password" size="20" />
                </p>
                <p>
                    <label for="new_password">New Password</label><br>
                    <input type="password" name="new_password" size="20" />
                </p>
                <p>
                    <label for="repeat_password">Repeat Password</label><br>
                    <input type="password" name="repeat_password" size="20" />
                </p>
                <button type="submit">Change Password</button>
            </form>
        {% endif %}
    </body>
</html>