<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css"/>
    <title>Sign Up - Set up 2FA</title>
</head>
<body>
    <h1>Configure Two-Factor Authentication</h1>
    {% if message %}
        <p class="success">{{ message}}</p>
        <p><button onclick="window.location.href='{{next or '/'}}'">OK</button></p>
    {% else %}
        {% if errorMessages %}
            <p class="error">{{ errorMessages }}</p>
        {% endif %}
        <form action="configurefactor2" method="POST">
            {% if factor2 == "totp" %}
            <ol>
                <li>Install Google Authenticator on your phone from the App Store or Play Store</li>
                <li>Scan the QR Code in the Authenticator app, or enter the following code manually:
                    <pre>{{totpSecret }}</pre>
                </li>
                <li>Enter the code that you see in the app in the text field below and click Submit.</li>
            </ol>
            
            <p><img src="{{ qr }}"/></p>

            <p>
                <label for="otp">Code</label>
                <input type="hidden" name="next" value="{{ next }}"/>
                <input type="password" name="otp"/>
                <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
            </p>

            <p><button type="submit">Submit</button></p>
            {% elif factor2 == "email" %}
                <p>Please check your email and enter the code sent to you.</p>
                <p>
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <label for="token">Code</label>
                    <input type="password" name="token"/>
                    <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
                </p>
                <p><button type="submit">Submit</button></p>
            {% else %}
            <p class="error">Unknown two-factor authentication type.  please
                <a href="signup">try to sign up again</a>.
            </p>
            {% endif%}
        </form>
    {% endif %}
</body>
</html>
