<html>
    <head>
        <title>Create an account</title>
        <link rel="stylesheet" href="/public/style.css"/>
    </head>
    <body>
        <h1>Create an OAuth Client
            {% if user and isAdmin %}
            for {{ user.username}}
            {% endif %}
        </h1>
        {% if message %}
            <p class="success">{{ message }}</p>
            {% if client %}
            <table>
                {% if userid and isAdmin %}
                    <tr>
                        <td>User ID</td><td>{{ client.user_id }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Client ID</td><td>{{ client.client_id }}</td>
                </tr>
                <tr>
                    <td>Confidential</td><td>{{ client.confidential }}</td>
                </tr>
                <tr>
                    <td>Client Secret</td><td>{{ client.client_secret or "None Set" }}</td>
                </tr>
                <tr>
                    <td>Redirect URIs</td>
                    <td>
                        {% for uri in client.redirect_uri%}
                            {{ uri }}<br>
                        {%endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Flows</td>
                    <td>
                        {% for flow in client.valid_flow%}
                            {{ flow }}<br>
                        {%endfor %}
                    </td>
                </tr>
            </table>
            {% if client.client_secret %}
                <p>Make sure you write the client secret down.  If you lose it,
                    you will have to reset it.</p>
                {% endif %}
            {% endif %}
        {% else %}
            {% if errorMessage %}
                <p class="error">
                    {{ errorMessage }}
                </p>
            {% endif %}
            <form method="POST">
                <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
                <input type="hidden" name="next" value="{{ next }}"/>
                {% if user %}
                    <input type="hidden" name="userid" value="{{ user.id }}"/>
                {% endif %}
                <p>
                    <label for="client_name">Friendly name</label><br>
                    <input type="text" name="client_name" size="20" value="{{ client_name }}" />
                </p>
                <p>
                    <input type="checkbox" name="confidential" value="true" 
                        {% if confidential %}checked{% endif %}/>
                    <label for="                    <input type="checkbox" name="confidential" value="true" 
">Confidential</label>
                    
                </p>
                <p>
                    <label for="redirect_uris">Redirect URIs (space separated)</label><br>
                    <textarea name="redirect_uris" rows="3" cols="40">{{ redirect_uris }}</textarea>
                </p>
                <h3>Enabled Flows</h3>
                {% for flow in validFlows %}
                <input type="checkbox" name="{{ flow }}" value="true" 
                    {% if flow == "true" %}checked{% endif %}> {{ flow }}</br>
                {% endfor %}
                <p><button type="submit">Create Client</button></p>
            </form>
        {% endif %}
        <p><a href="{{next}}">Back</a></p>
    </body>
</html>
