<html>
    <head>
        <title>Reset Your Password</title>
        <link rel="stylesheet" href="/public/style.css"/>
    </head>
    <body>
        <h1>Reset Your Password</h1>
        {% if message %}
            <p class="success">{{ message }}</p>
        {% else %}
            {% if error %}
                <p>
                {% if errorCode == "PasswordFormat" %}
                    Password must be at leat 8 characters, contain at least one lowercase letter, one
                    uppercase letter and one digit.
                {% elif errorCode == "PasswordMatch" %}
                    Passwords do not match
                {% else %}
                    {{ error }}
                {% endif %}
            {% endif %}
            <form method="POST" action="resetpassword">
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                <input type="hidden" name="token" value="{{ token }}"/>
                <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
                <p>
                    <label for="new_password">New Password</label><br>
                    <input type="password" name="new_password" size="20" />
                </p>
                <p>
                    <label for="repeat_password">Repeat Password</label><br>
                    <input type="password" name="repeat_password" size="20" />
                </p>
                <button type="submit">Reset Password</button>
            </form>
        {% endif %}
    </body>
</html>