body {
    background-color: #27272a;
    color: #e4e4e7;
    margin: 20px;
    font-family: sans-serif;
    
}

p.error {
    color: #dc2626;
}

a,
a:visited {
    color: #4d7c0f;
    text-decoration: none;
}