body {
    background-color: #27272a;
    color: #e4e4e7;
    margin: 20px;
    font-family: sans-serif;
    
}

.error {
    color: #b91c1c;
}

.success {
    color: #4d7c0f;
}

a,
a:visited {
    color: #0369a1;
    text-decoration: none;
}
