A password reset has been requested.  If you didn't request one, please ignore this message.

If you did request a password reset, please click the link below.

    {{ siteUrl }}{{ prefix }}passwordreset/{{ token }}

Thank you.
